.ppt-slide-ul {
  font-size: 32px;
}
ul, ol {
  margin: 0 !important;
}

.yellow_monsters_cartoon_children_20230517 {
  h3 {
    color: #fe5621 !important;
  }
  .ppt-content {
    position: absolute;
    left: 266px;
    text-align: left;
  }
}

.pink_rabbit_catroon_children_20230517 {
  h3 {
    color: #b62c64 !important;
  }
}

.whitegreen_asset_finance_insurance_20230517 {
  h3 {
    color: #05706d !important;
  }
}

.redyellow_communistparty_emblem_vplus_20230416 {
  h3 {
    color: #FFDC00 !important;
  }
}

.whiteblue_reagent_science_vplus_20230503 {
  h3 {
    color: #344960 !important;
  }
}

.orangewhite_desktop_1 {
  h3 {
    color: #FF7500 !important;
  }
}

.ppt-end-text {
  font-size: 60px;
}

.ppt-end-thanks {
  font-size: 100px !important;
}
