.modal-bind-phone {
  position: relative;

  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }

  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }

  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }

  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .code-and-send {
    display: flex;
    justify-content: center;

    .send-sms-code {
      margin-left: 20px;
    }
  }

  .ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
  }
}
