.workspace-header {
  max-width: 1920px;
  display: flex;
  margin: auto;

  .workspace-header-project {
    padding: 0 10px;
    height: 54px;
    display: flex;
    align-items: center;
    .btn-back {
      cursor: pointer;
    }
  }

  .workspace-header-project-right {
    flex: 1;
    color: #726D6D;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    button {
      height: 28px;
    }
  }

}
